<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>함수</title>
    <style>
        p{
            width: 500px;
            height: 100px;
            background-color: lightgray;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>함수(Function)</h1>
    <h3>fucntion 함수명 ([매개변수, 매개변수]){ 소스 코드작성 } 이와 같이  작성하여 시행</h3>

    <button onclick="test1();">실행확인</button>
    <p id = "p1"></p>
        
    
    <script>
        /*
        function test1(){
            var p1 = document.getElementById("p1")
            p1.innerHTML = "test1() 함수를 실행"
        }
        */

        //축약사용법
        const test1 = () => {
            var p1 = document.getElementById("p1")
            p1.innerHTML = "test1() 함수를 실행"
        }
    </script>


<h3>함수명 = function([매개변수, 매개변수]}{소스코드작성 } :  익명함수 (이벤트핸들러에서 주로 사용)</h3>
<button id=btn2 onclick="test2();">실행확인</button>
<p id = "p2"></p>
<script>

        var btn2 = document.getElementById("btn2")

        btn2.onclick = function(){
            document.getElementById("p2").innerHTML = "이벤트 핸들러를 통해 함수실행됨."
        }

</script>

<h3>스스로 실행하는 함수 : (function(){})() : IIFE - Immediately -Invoked Function Expression - 즉시실행함수 )</h3>
<p id = "p3"></p>

<script>
    (function(){
        var p3 = document.getElementById("p3");
        p3.innerHTML = "자동으로 혼자 실행되는 함수"

    })();
/* 축약형
    (()=>{
        alert("자동으로 혼자 실행됨")
    })();

    */

</script>

<h3>함수의 전달인자와 매개변수</h3>
<button id = "btn1">실행확인</button>
<p id = "p4"></p>
<script>
    function test4(value){
        var p4 = document.getElementById("p4");
        p4.innerHTML += value + "<br>";
        console.log(arguments);  //arguments : 함수마다 존재하는 객체로 인자를 다 받아온다.


    }

    document.getElementById("btn1").onclick = function(){
        test4("안녕하세요")
        test4("안녕하세요", "반갑습니다.")
        test4();
        test4(prompt("메세지를 입력하세요"));
    }


</script>
<button onclick="test5(11,22,33,1,2,6)">실행확인</button>
<p id="p5"></p>
<script>
    function test5(){
        console.log(arguments);
        console.log(arguments.length);

        var sum =0;
        for(var i = 0 ; i < arguments.length; i++){
            sum += arguments[i]
        }
        document.getElementById("p5").innerText = "더하기결과 : " + sum

    }
</script>

<h3>매개변수 함수에 this 요소 전달하기</h3>
<button onclick="testFn(this)">버튼1</button> <!--this : 해당 이벤트를 발생시킨 요소-->
<button onclick="testFn(this.innerHTML)">버튼2</button><!--this.innerHTML : 해당 이벤트를 발생시킨 요소의 innerHTML-->
<input type="button" onclick="testFn(this.value);" value="버튼3"><!--this.value : 해당 이벤트를 발생시킨 요소의 value값-->

<script>
    function testFn(element){
        console.log(element)

    }
</script>

<h3> 익명 함수를 리턴하는 함수</h3>
이름 : <input type="text" id="name">
<button onclick="test7()()">실행확인</button> 
<script>
    function test7(){ //익명함수이기때문에 괄호를 한 개 더추가해서 호출했다.
        var userName = document.getElementById("name").value;
        return function(){
            alert(userName + "님 환영합니다!")
        }
    }
</script>

</body>
</html>