<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자바스크립트개요</title>
    <script src="../js/sample.js"></script>
</head>
<body>
    <h1>자바스크립트개요</h1>
    <dl>
        <dt>스크립트언어란?</dt>
        <dd>사용자의 요구에 맞게 수행되도록<br>
            구현하는 언어, 매우 빠르고 쉽게 배울수 있으며 짧은 코드로 작성 <br>
            할수있도록 고안되었다. 
        </dd>
        
    </dl>
    <dl>
        <dt>자바스크립트?</dt>
        <dd>웹브라우저에서 가장많이 사용하는 인터프리터 방식의 <br>
            객체지향언어, ECMA 스크립트 표준을 따르는 대표적인 웹 기술 구현 언어이다. 
        </dd>
        
    </dl>
    <dl>
        <dt>사용방법</dt>
        <dd>
            <ol>
                <li>Inline 방식 : <br>
                    태그내에 직접 작성하는 방식 (간단한 소스 코드인경우 )
                </li>
                <li>Interal 방식 : <br>
                    Script 태그 를 별도로 선언하고 그내부에 코드를 작성하여 실행하는 방식
                </li>
                <li>external 방식 : <br>
                    외부의 .js 파일을 가져와 현재 웹문서에 등록하는 방식 
                </li>
            </ol>
        </dd>
        
    </dl>
    <dl>
        <dt>주의할점</dt>
        <dd>소스는 함수 단위로 작성하고, 이벤트 속성을 통해 실행한다. <br>
           일반적인 실행방식은 on 이벤트 명 = '실행할 함수명([전달인자])'
        </dd>
        
    </dl>

    <hr>

    <h2>태그에 직접 스크립트를 작성하여 구동확인 (Inline 방식)</h2>
    <button onclick="alert('버튼클릭확인');">함수실행확인</button>

     <h2>Script 태그를 활용하여 내부에서 작성한 소스 코드 실행하기 (Internal방식)</h2>
     <p>script 태그영역은 head 태그, body 태그 내에서 작성</p>
     <button onclick="testFn();">함수실행확인</button>
     <script>
         //일반 한줄 주석 
         /*영역주석*/
         function testFn(){
             window.alert("testFn() 구동확인");  //window는 생략 가능, ; 생략가능
         }
     </script>


     <h2>별도로 작성한 자바 스크립트 함수 불러오기</h2>
     <button onclick="samp();">samp() 함수실행하기</button>
</body>
</html>