<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>데이터형변환</title>
    <style>
        .area{
            border: 1px solid red;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1>강제형변환</h1>
    <h3>문자열과 숫자의 + 연산</h3>
    <p>문자열 + 숫자 ==> 문자열<br>
        숫자 + 숫자 + 문자열 ==> 숫자가 먼저 계산되고 뒤의 문자열과 합쳐서 최종적으로는 문자열 (자바와같음)
    </p>
    <button onclick="testPlus();">문자열과 숫자의 + 연산</button>
    <div id = "area1" class="area"></div>
    <script>
        function testPlus(){
            var test1 = 7 + 7;
            var test2 = 7 + "7";
            var test3 = "7" + 7;
            var test4 = "7" + "7";

            var test5 = 7 + 7+ "7";
            var test6 = 7 + "7"+ 7;
            var test7 = "7" + 7+ 7;
            var test8 = "7" + (7+ 7);

            var area1 = document.getElementById("area1");
         
            area1.innerHTML = "";
            area1.innerHTML += '7 + 7 = '+test1+"<br>";
            area1.innerHTML += "7 + '7' = "+test2+"<br>";
            area1.innerHTML += '"7" + 7 = '+test3+"<br>";
            area1.innerHTML += '"7" + "7" = '+test4+"<br>";
            area1.innerHTML += '7 + 7+ "7" = '+test5+"<br>";
            area1.innerHTML += '7 + "7"+ 7 = '+test6+"<br>";
            area1.innerHTML += '"7" + 7+ 7 = '+test7+"<br>";
            area1.innerHTML += '"7" + (7+ 7) = '+test8+"<br>";

        }

    </script>

    
<p>자바스크립트에서 문자열 --> 숫자열 변환시<br>
    Number()라는 내장객체, parseInt(), parseFloat() 내장함수를 통해 강제형변환 진행
</p>

<button onclick="castingTest();">casting테스트</button>
<div id = "area2" class="area"></div>

<script>
    function castingTest(){
        var iNum = 2;
        var sNum = '3';
        var fNum = '1.234';

        var test1 = iNum + sNum ;
        var test2 = iNum + Number(sNum);
        var test3 = iNum + parseInt(sNum);
        var test4 = iNum + parseFloat(sNum);

        area2.innerHTML = ""
        area2.innerHTML += '2 + "3" =' + test1 +"<br>";
        area2.innerHTML += '2 + Number( "3" ) =' + test2 +"<br>";
        area2.innerHTML += '2 + parseInt( "3" ) =' + test3 +"<br>";
        area2.innerHTML += '2 + parseFloat( "3" ) =' + test4 +"<br>";


        var test5 = iNum + fNum ;
        var test6 = iNum + Number(fNum);
        var test7 = iNum + parseInt(fNum);
        var test8 = iNum + parseFloat(fNum);
        area2.innerHTML = ""
        area2.innerHTML += '2 + "1.234" =' + test5 +"<br>";
        area2.innerHTML += '2 + Number( "1.234" ) =' + test6 +"<br>";
        area2.innerHTML += '2 + parseInt( "1.234" ) =' + test7 +"<br>";
        area2.innerHTML += '2 + parseFloat( "1.234" ) =' + test8 +"<br>";

    }
</script>


<h3> Number(), parseInt(), parseFloat()</h3>
<p> Number() : 숫자로 바꿀수 없으면 무조건 NaN 을 리턴한다. <br>
    parseInt(),parseFloat(): 숫자로 변환할수 있는 부분까지는 모두 숫자로 변환한다. <br>
</p>

<button onclick="test4();">실행확인</button>
<div id="area4" class="area"></div>
<script>
    function test4(){
        var area4 = document.getElementById("area4");

        var money = '1000원';
        var dollor = '1.5$';

        //바꿀 수 없는 숫자는 NaN
        area4.innerHTML += "Number(money) : "+Number(money)+"<br>";
        area4.innerHTML += "Number(dollor) : "+Number(dollor)+"<br>";

        //앞에서부터 정수로 인식할수 있는 부분까지 변환
        area4.innerHTML += "parseInt(money) : "+parseInt(money)+"<br>";
        area4.innerHTML += "parseInt(dollor) : "+parseInt(dollor)+"<br>";

        //앞에서부터 실수로 인식할수 있는 부분까지 변환
        area4.innerHTML += "parseFloat(money) : "+parseFloat(money)+"<br>";
        area4.innerHTML += "parseFloat(dollor) : "+parseFloat(dollor)+"<br>";

        area4.innerHTML += "parseInt('1234') : "+parseInt('1234')+"<br>";



    }
   </script>
</body>
</html>