<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style> 
        .area{
            background: lightgray;
            border: 1px solid black;
            width: 300px;
            height: 100px;
            font-size: 40px;
            color:red;
        }
        .area-big{
            background: lightgray;
            border: 1px solid black;
            height: 300px;
        }
    </style>
</head>
<body>
    <h1>window객체</h1>
    <p>window 객체는 브라우저 창에대한 설정을 하는 객체로 자바스크립트 최상위 객체이며 BOM과 DOM 으로 나눈다<br>
        BOM(Browser Object Model) : location객체, navigation객체, history객체 , screen객체<br>
        DOM(Document Object Model) : document객체
    </p>
    <h3>window객체</h3>
    <button onclick="test1();">네이버</button>
    <button onclick="test2();">다음</button>

    <script>
        function test1(){
            window.open("http://www.naver.com","네이버","resizable=no, status=no,toolbar=no");
        }
        function test2(){
            window.open("http://www.daum.net","","width=500, height=300");
        }
            // window.open('주소', '창이름', '창의 특성');
            // 첫째 인자값 : 열고자하는 url
            // 둘째 인자값 : 창이름, 같은 경우엔 계속 창을 열 때 새로 열지 않고 이미 열린 창을 이용한다.
            // 셋째 인자값 : 새로 열릴 창의 너비, 높이, 툴바, 상태바 등을 지정

            // window.open("http://www.naver.com"); // 첫째 인자값만

            // window.open("http://www.naver.com", "네이버"); // 둘째 인자까지

            // 셋째인자 제시전 알아둬야됨
            
            // 0 || 1   =>  no || yes
            // location : 주소입력란        --> opera에만 먹힘
            // menubar : 메뉴바             --> IE --> alt눌러서 확인
            // scrollbars : 스크롤바        --> IE, firefox에만 먹힘
            // status : 상태 표시줄         --> IE
            // toolbar : 도구 모음          --> IE
            // resizable : 창 크기 조절 가능 여부    --> IE에만 먹힘
            // 픽셀
            // width : 창의 너비 
            // height : 창의 높이
        
    </script>

    <h3>window 객체의 timer 관련메소드</h3>
    <h4>setTimeout()</h4> <!--일정 시간 후 함수를 한 번만 실행하는 함수-->
    <button onclick="test3()">실행확인</button>
    <script>
        function test3(){
            var myWindow = window.open();
            myWindow.alert("3초 후에 페이지를 종료");

/*
            window.setTimeout(function(){
                myWindow.close();
            },5000)

*/
            //축약형

            var time1 = setTimeout(()=>{
                myWindow.close();
            },3000)

            setTimeout(()=>{
                console.log("실행되었습니다.")
                clearTimeout(time1) //setTimeOut을 종료시키는 함수
            }, 1000)
        }

    </script>

    <h4>setInterval()</h4><!--일정시간마다 함수를 반복실행-->
    <button onclick="test4()">실행확인</button>
    <div id="area1" class="area"></div>

    <script>
        function test4(){
            var area1 = document.getElementById("area1")

            // window.setInterval(function(){
            //     var date = new Date();
            //     area1.innerHTML = date.getHours() +" : " + date.getMinutes() + " : " + date.getSeconds();
            // },1000)

            var inter1 = setInterval(()=>{
                var date = new Date();
                area1.innerHTML = date.getHours() +" : " + date.getMinutes() + " : " + date.getSeconds();
            },1000);

            setTimeout(()=>{
                console.log("실행되었습니다.")
                 clearInterval(inter1); //setInterval()을 종료시키는 함수
            },5000);
        }
    </script>

<h3>screen객체</h3>
<p>웹 브라우저의 화면이 아닌 운영체제 자체의 (모니터화면 기준의 ) 속성을 담당하는 객체</p>

<button onclick="test5();">실행확인</button>
<script>
    function test5(){
        console.log("현재 화면의 길이 : "+ screen.width);
        console.log("현재 화면의 높이 : "+ screen.height);
        console.log("실제화면에서 사용가능한 길이 : "+ screen.availWidth);
        console.log("실제화면에서 사용가능한 높이 : "+ screen.availHeight);
        console.log("화면에서 사용가능한 색상수 : "+ screen.colorDepth);
        console.log("한픽셀당 표현가능한 비트수 : "+ screen.pixelDepth);

    }
</script>

<h3>location객체</h3>
<p>브라우저 주소 표시줄과 관련된 객체</p>
<button onclick="test6();">실행확인</button>

<div id = "area6" class="area"></div>
<script>
    function test6(){
        console.dir(location);
    }
    
</script>
<button onclick="location='https://www.naver.com';">네이버로 가기</button>
<button onclick="location.href='https://www.naver.com';">네이버로 가기</button>

<br><br>
<button onclick="location=location">새로고침</button>
<button onclick="location.href=location.href">새로고침</button>
<button onclick="location.reload();">새로고침</button> <!-- 현재문서를 다시 로드-->

<br><br>
<button onclick="location.assign('https://www.google.com')">구글로 가기</button><!-- 새로운 페이지 로드-->
<button onclick="location.replace('https://www.google.com')">구글로 가기</button><!-- 새로운 페이지로 교체 (뒤로가는것이 불가능)-->

<h3>navigator객체</h3>
<p>웹 페이지를 실행하는 브라우저의 정보를 가지는 객체 </p>

<button onclick="test8();">실행확인</button>
<div id = "area8" class="area"></div>
<script>
    function test8(){
        var str = "";
        for (var i in navigator){
            str+="key : " + i + " / value : " + navigator[i]+"<br>";

        }
       // area8.innerHTML = str;
        /*
        - appCodeName : 브라우저의 코드 네임을 반환한다. (익스플로러 10v이하, 크롬, 파이어폭스, 사파리, 오페라 모두 브라우저 Mozilla)
        - appName : 브라우저의 이름을 반환한다.  (익스플로러 11v, 크롬, 파이어폭스와 사파리는 모두 "Netscape")
        - appVersion : 브라우저의 버전 정보를 반환한다. 
        - userAgent : 브라우저가 서버로 보낸 user-agent 헤더 값을 반환한다. 
        - cookieEnabled : 브라우저에서 쿠기가 가능한지 확인한다. 
        - geolocation : 사용자의 위치를 찾는데 사용되는 Geolocation 객체를 반환한다. 
        - language : 브라우저의 언어를 반환한다. 
        - onLine : 브라우저가 온라인인지 여부를 확인한다. 
        - platform : 브라우저의 플랫폼을 반환한다. 
        - product : 브라우저의 엔진 이름을 반환한다.
        */
        console.log("브라우저언어 : "+ navigator.language);
        console.log("platform : "+ navigator.platform);
    }
</script>

<h1>지오로케이션</h1>
<h3>현재위치 가져오기</h3>
<p>getCurrentPosition()을 호출하여 사용자의 현재위치를 가져온다. 응답은 빠르지만 정확도는 낮다.</p>

<button onclick="test9();">실행확인</button>
<script>

    function showErrorMessage(error){
        switch (error.code) {
            case error.POSITION_UNAVAILABLE:
                alert("위치정보를 사용할 수 없습니다.")
                
                break;
            case error.TIMEOUT:
                alert("사용자의 위치를 가져오기 위한 요청시간이 초과되었습니다.")
                break;

            case error.UNKNOWN_ERROR:
                alert("알 수 없는 오류가 발생하였습니다.")
                break;
            default:
                break;
        }
    }

    function test9(){

        navigator.geolocation.getCurrentPosition(function(position){
            alert("위도 : " + position.coords.latitude + "\n"
                + "경도 : " + position.coords.longitude + "\n"
                )

                var lat = positon.coords.latitude;
                var lon = position.coords.longitude;

                location.href = "http://map.doum.net/link/map/나의위치," + lat+","+lon;
        },showErrorMessage)
    }
</script>
</body>
</html>